.outer-wrapper {
	min-height: 100%;
	padding-right: 0;
	position: relative;
	transition: padding-right 1s;
}

// Don't squeeze the grid on small screens, just overlay the options
@media (min-width: 700px) {
	.show-menu .outer-wrapper {
		padding-right: 150px;
	}
	.show-menu .inner-wrapper {
		border-right: 1px solid #777;
	}
}

.intro {
	margin: 0 auto;
	max-width: 100vh;
}

header {
	padding: 0 20px 20px 20px;
}

.title-header {
	padding-bottom: 0;
}

%options-button {
	background: transparent;
	float: right;
	margin: 14px 10px;
	padding: 0;
	position: relative;
	width: 34px;
	z-index: 2;
}

.explanation {
	max-width: 35em;
	font-size: 18px;
}

.reference-highlight {
	margin: 0 -0.2em;
	padding: 0 0.2em;
}
