html,
body {
	height: 100%;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	line-height: 1.34;
}

body {
	margin: 0;
	width: 100%;
	overflow-x: hidden;
}

.outer-wrapper {
	min-height: 100%;
	padding-right: 0;
	position: relative;
	transition: padding-right 1s;
}

// Don't squeeze the grid on small screens, just overlay the options
@media (min-width: 700px) {
	.show-menu .outer-wrapper {
		padding-right: 150px;
	}
	.show-menu .inner-wrapper {
		border-right: 1px solid #777;
	}
}

.intro {
	margin: 0 auto;
	max-width: 100vh;
}

header {
	padding: 0 20px 20px 20px;
}

.title-header {
	padding-bottom: 0;
}

$options-button-color: #4764ff;
$options-button-hover-color: #444;
$options-button-hover-bg-color: #ededed;

%options-button {
	background: transparent;
	float: right;
	margin: 14px 10px;
	padding: 0;
	position: relative;
	width: 34px;
	z-index: 2;
}

.main-menu-button {
	background: transparent;
	border: 0;
	cursor: pointer;
	float: right;
	margin: 14px 10px;
	padding: 0;
	position: relative;
	width: 34px;
	z-index: 2;
}

.main-menu-button__circle {
	background: #fff;
	border: 2px solid #4764ff;
	border-radius: 17px;
	height: 34px;
	width: 34px;
}

.main-menu-button__svg {
	height: 30px;
	width: 30px;
}

.main-menu-button__svg > polygon  {
	fill: $options-button-color
}

.main-menu-button__menu-text {
	color: #4764ff;
	font-size: 8.5px;
	padding-top: 4px;
	text-align: center;
	text-transform: uppercase;	
}

// Hide text when menu is open
.show-menu .main-menu-button__menu-text {
	display: none;
}

// MENU BUTTON HOVER

.main-menu-button:hover .main-menu-button__circle {
	background: $options-button-hover-bg-color;
	border-color: $options-button-hover-color;
}

// Need the button hover for FF bug.
.main-menu-button:hover polygon,
.main-menu-button__svg:hover > polygon {
	fill: $options-button-hover-color
}

 .main-menu-button:hover .main-menu-button__menu-text {
 color: $options-button-hover-color;
}

h1 {
	font-size: 48px;
	font-weight: 300;
	margin: 0;
	padding: 17px 0 20px;
}

h2 {
	font-size: 30px;
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-weight: 600;
}

.explanation {
	max-width: 35em;
	font-size: 18px;
}

.reference-highlight {
	margin: 0 -0.2em;
	padding: 0 0.2em;
}

.rules-wrapper {
	display: flex;
	padding: 20px 20px 20px 20px;
}

.rule {
	border: 1px solid gray;
	//	http://stackoverflow.com/questions/26895349/how-can-i-get-ff-33-x-flexbox-behavior-in-ff-34-x
	min-width: 0;		
}

.rule + .rule { // All but the first
	border-left: 0;
}

.rule-inner {
	padding: 8%; // empirical
}

.rule-reference-row {
	display: flex;
}

.c {
	position: relative;
  width: 10000px; // Arbitrarily large
  margin: auto;
}

.show-borders .c {
	border: 1px solid #777;
}

.c + .c { /* all but first */
	border-left-width: 0;
}

.gen-c.gen-c {
	border-top: 0;
}

.square {
	box-sizing: content-box;
  padding-top: 100%; // Keep cells square, always
}

.rule__box {
	margin: 10% auto 0 auto;
	position: relative;
	width: 33%;
}

.rule-name {
	padding: 10px 20px 20px;
}

.rule__checkbox,
.init__checkbox {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.rule__label,
.init__label {
	box-sizing: content-box;
	display: block;
	height: 0;
  padding-top: 100%; // Keep labels square, always
  position: relative;
	width: 100%;
}

.init__checkbox:focus,
.init__checkbox:focus + label {
	z-index: 20;
}

.rule__checkbox:checked + label,
.init__checkbox:checked + label,
.on {
	background: #000;
}

//
//	---- INPUTS ----
//

.numeric-input-wrapper {
	padding: 0 20px 0 14%;
	text-align: left;
}

.numeric-input-group {
	display: inline-block;
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	width: 390px;
	max-width: 100%;
}

.numeric-input-group--wider {
	width: 450px;
}

.numeric-input-group + .numeric-input-group {
 	width: 305px; // just for iterations
}

.numeric-input-highlight {
	display: inline-block;
}

.numeric-input,
.minus-button,
.plus-button {
	background: #fff;
	border: 1px solid gray;
	display: inline-block;
	font-size: 15px;
	height: 34px;
	position: relative;
	vertical-align: middle;
	width: 34px;
	z-index: 1;
}

.numeric-input {
	padding: 8px;
	text-align: right;
	width: 52px;
}

.minus-button,
.plus-button {
	border-left: 0;
	cursor: pointer;
}

.numeric-input:focus,
.minus-button:focus,
.plus-button:focus {
	z-index: 2; /* Keep the full outline ring visible */
}

.minus-button:active,
.plus-button:active {
	background: #eee;
}

.numeric-input-text {
	font-size: 18px;
	padding: 6px 0 0 135px;
	position: absolute;
	top: 0;
	left: 0;
}

.grid-group {
	margin: 0 auto;
	max-width: 100%;
	padding-bottom: 20px;
	transition: max-width .4s ease;
}

// Tricky stuff here: don't let the inner-wrapper's border shrink the visualization.
// This is to overlap the borders on the right and not see a double border.
.show-menu .grid-group {
	width:     calc(100% + 1px);
	max-width: calc(100% + 1px);
}

.limit-grid-width.grid-group {
	max-width: 100vh;	
}

.initial-state {
	display: flex;
}

.generated {
	min-height: 150px;
	position: relative;
}

// .generated--loading {
// 	background: url("lib-img/loader-to-spin.svg") center 50px / 40px 40px no-repeat ;
// }

canvas {
	border: 1px solid #777; // side and bottom borders must be on both canvases so they match or things get wonky
	border-top: 0;
	display: block;
	width: 100%;
	height: auto;
}

#c-inner-borders {
	position: absolute;
	top: 0;
	left: 0;
}

.c-inner-borders--hidden {
	display: none;
}

//
//	---- MOBILE OVERLAY ----
//

.show-menu .mobile-overlay {
	position: absolute;
	background: #000;
	opacity: .35;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

@media (min-width: 700px) {
	.mobile-overlay {
		display: none;
	}
}
	
//
// ----	OPTIONS COLUMN ----
//

.options-column {
	background: #fff;
	border-bottom: 1px solid #777;
	border-left: 1px solid #777;
	padding: 14px;
	position: absolute;
	top: 0;
	right: 0;
	transition: transform 1s;
	transform: translateX(150px);
	width: 150px;
	z-index: 2;
}

@media (min-width: 700px) {
	.options-column {
		background: transparent;
		border: 0;
	}
}
	
.hide-options-button {
	background: #fff;
	border: 2px solid #4764ff;
	border-radius: 17px;
	float: right;
	height: 34px;
	margin: 0 0 25px 75px;
	padding: 0;
	width: 34px;
	position: relative;
	right: -4px;
}

.hide-options-button-svg {
	width: 30px;
	height: 30px;
}

/* (X) SVG */
.hide-options-button-svg > polygon  {
	fill: $options-button-color;
}

// HOVER STATE
.hide-options-button:hover {
	background: $options-button-hover-bg-color;
	border-color: $options-button-hover-color;
}

// Need both for FF bug.
.hide-options-button:hover polygon,
.hide-options-button-svg:hover > polygon  {
	fill: $options-button-hover-color
}

.show-instructions-button {
	padding-top: 8px;
}

.show-instructions .show-instructions-button {
	display: none;
}

.go-to-rule-group {
	clear: both;
	font-size: 15px;
	margin: 20px 0 20px 0;
}

.go-to-rule-group .borderless-button {
	margin: 6px 0;	
}

.checkbox-options-group {
	padding-bottom: 10px;
}

.checkbox-option {
	padding: 0 0 15px 30px;
	position: relative;
}

.options-column__external-link {
	display: block;
	font-size: 15px;
	margin: 8px 0 15px 0;
}

.made-by {
	font-size: 11px;
	margin-top: 50px;
}

@media (max-aspect-ratio: 1/1) {
	.limit-width-option {
		display: none;
	}	
}

//
//	---- SHOW-MENU STATE ----
//

.show-menu .options-column {
	display: block;
	transform: translateX(0);
}

/* Hide the "show" button when it's shown */
.show-menu .more-options__button {
	display: none;
}

//
//	---- WARNINGS ----
//

.no-support-warning {
	border-bottom: 1px solid #777;
	margin: 0;
	padding: 1em;
}

/*
		Switch to elegant hairline borders on high res devices
*/
@media (-webkit-min-device-pixel-ratio: 2),
       (   min--moz-device-pixel-ratio: 2),
       (     -o-min-device-pixel-ratio: 2/1),
       (        min-device-pixel-ratio: 2),
       (                min-resolution: 192dpi),
       (                min-resolution: 2dppx) {

	.rule {
		border-top-width: 0.5px;
		border-right-width: 0.5px;
		border-bottom-width: 0.5px;
	}

	.numeric-input,
	.minus-button,
	.plus-button {
		border-width: 0.5px;
	}

	.show-borders > .c {
		border-top-width: 0.5px;
		border-right-width: 0.5px;
		border-bottom-width: 0.5px;
	}
	
	.show-options .visualization-wrapper {border-right-width: 0.5px;}
	.no-support-warning {border-bottom-width: 0.5px} 
}

//
//	UI HIGHLIGHTS IN INSTRUCTIONS STATE
//

.reference-highlight,
.rule__label,
.initial-state {
	// A zero-opacity box-shadow, just to create a transition effect	
	box-shadow: 0 0 5px 5px rgba(132, 177, 255, 0);
	transition: box-shadow 1s;	
}

.show-instructions .rule-reference-highlight,
.show-instructions .rule__label {
	box-shadow: 0 0 5px 5px rgba(132, 177, 255, 0.5); // BLUE
}

.show-instructions .initial-state-reference-highlight,
.show-instructions .initial-state {
	box-shadow: 0 0 5px 5px rgba(120, 255, 120, 0.5); // GREEN
}

.show-instructions .rule-reference-highlight,
.show-instructions .initial-state-reference-highlight {
	position: relative;
	z-index: -1; // Put text box highlights behind adjacent text
}

.show-instructions .initial-state {
	z-index: 1;
	position: relative; // Keep green box-shadow on top of later rows
}

@-moz-document url-prefix() { 
	input:focus,
	button:focus {
		outline: 3px dotted rgb(132, 177, 255);
		outline-offset: 2x;
	}
}

//
// ---- MISC FINAL OVERRIDES ----
//

//	Hide focus outlines for mouse users.
.tab-inactive * {
	outline: 0;
}

input:invalid,
input:out-of-range {
	background: #ffe0e0;
	border-color: #ff0000;	
}
